/**
Main stylesheet for Arti by www.SooperThemes.com
Author: Jurriaan Roelofs

TABLE OF CONTENTS:
0. Variables and Mixins
1. Typography
2. Layout styling
3. Drupal Elements

*/
/**
 * [ 0 ] VARIABLES AND MIXINS
 */
/**
 * [ 1 ] TYPOGRAPHY
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/quickstart\/websites\/themebox7\.dev\/sites\/all\/themes\/arti\/styling\/scss\/style\.scss}line{font-family:\0000342}}
body {
  font: 13px/1.5em helvetica, arial, verdana, sans-serif;
  background: url("../images/grid-paper.png");
  color: #444;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/quickstart\/websites\/themebox7\.dev\/sites\/all\/themes\/arti\/styling\/scss\/style\.scss}line{font-family:\0000348}}
.mast {
  background: #fff;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/quickstart\/websites\/themebox7\.dev\/sites\/all\/themes\/arti\/styling\/scss\/style\.scss}line{font-family:\0000352}}
#page {
  margin-top: 20px;
  margin-bottom: 120px;
  padding-top: 1px;
  padding-bottom: 1px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/quickstart\/websites\/themebox7\.dev\/sites\/all\/themes\/arti\/styling\/scss\/style\.scss}line{font-family:\0000360}}
a:link,
a:visited {
  color: #54beff;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/quickstart\/websites\/themebox7\.dev\/sites\/all\/themes\/arti\/styling\/scss\/style\.scss}line{font-family:\0000364}}
h1, h2, h3, h4, h5, h6 {
  font-family: helvetica, arial, verdana, sans-serif;
  font-weight: normal;
  line-height: 1em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/quickstart\/websites\/themebox7\.dev\/sites\/all\/themes\/arti\/styling\/scss\/style\.scss}line{font-family:\0000370}}
h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 20px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/quickstart\/websites\/themebox7\.dev\/sites\/all\/themes\/arti\/styling\/scss\/style\.scss}line{font-family:\0000374}}
h1.site-name {
  font-size: 370%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/quickstart\/websites\/themebox7\.dev\/sites\/all\/themes\/arti\/styling\/scss\/style\.scss}line{font-family:\0000376}}
h1.site-name a {
  text-decoration: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/quickstart\/websites\/themebox7\.dev\/sites\/all\/themes\/arti\/styling\/scss\/style\.scss}line{font-family:\0000381}}
h1 {
  font-size: 218%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/quickstart\/websites\/themebox7\.dev\/sites\/all\/themes\/arti\/styling\/scss\/style\.scss}line{font-family:\0000385}}
h2 {
  font-size: 164%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/quickstart\/websites\/themebox7\.dev\/sites\/all\/themes\/arti\/styling\/scss\/style\.scss}line{font-family:\0000389}}
h3 {
  font-size: 145%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/quickstart\/websites\/themebox7\.dev\/sites\/all\/themes\/arti\/styling\/scss\/style\.scss}line{font-family:\0000393}}
h4, nav {
  font-size: 118%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/quickstart\/websites\/themebox7\.dev\/sites\/all\/themes\/arti\/styling\/scss\/style\.scss}line{font-family:\0000398}}
.voice2,
.comment .content {
  font-family: "Times New Roman", Times, Georgia, serif;
  font-style: italic;
  line-height: 1.3em;
}

/**
 * [ 2 ] LAYOUT STYLING
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/quickstart\/websites\/themebox7\.dev\/sites\/all\/themes\/arti\/styling\/scss\/style\.scss}line{font-family:\00003109}}
a.logo {
  display: block;
  float: left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/quickstart\/websites\/themebox7\.dev\/sites\/all\/themes\/arti\/styling\/scss\/style\.scss}line{font-family:\00003114}}
h1.site-name {
  float: left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/quickstart\/websites\/themebox7\.dev\/sites\/all\/themes\/arti\/styling\/scss\/_base\.scss}line{font-family:\0000316}}
.main:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/quickstart\/websites\/themebox7\.dev\/sites\/all\/themes\/arti\/styling\/scss\/_base\.scss}line{font-family:\0000325}}
* html .main {
  height: 1%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/quickstart\/websites\/themebox7\.dev\/sites\/all\/themes\/arti\/styling\/scss\/_base\.scss}line{font-family:\0000331}}
*:first-child + html .main {
  min-height: 1%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/quickstart\/websites\/themebox7\.dev\/sites\/all\/themes\/arti\/styling\/scss\/style\.scss}line{font-family:\00003122}}
.main img {
  border: 2px solid #bebebe;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/quickstart\/websites\/themebox7\.dev\/sites\/all\/themes\/arti\/styling\/scss\/style\.scss}line{font-family:\00003126}}
.grid-inner h2 {
  margin: 10px 0;
  line-height: 1em;
}

@media screen and (max-width:768px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/quickstart\/websites\/themebox7\.dev\/sites\/all\/themes\/arti\/styling\/scss\/style\.scss}line{font-family:\00003132}}
  .grid-inner h2 {
    margin: 5px 0;
  }
}
@media screen and (max-width:320px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/quickstart\/websites\/themebox7\.dev\/sites\/all\/themes\/arti\/styling\/scss\/style\.scss}line{font-family:\00003138}}
  .grid-inner h2 {
    margin: 3px 0;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/quickstart\/websites\/themebox7\.dev\/sites\/all\/themes\/arti\/styling\/scss\/style\.scss}line{font-family:\00003144}}
.region-content-top,
.region-content-bottom {
  background: #fff;
  clear: both;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/quickstart\/websites\/themebox7\.dev\/sites\/all\/themes\/arti\/styling\/scss\/style\.scss}line{font-family:\00003149}}
.region-content-top {
  border-bottom: 1px solid #bebebe;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/quickstart\/websites\/themebox7\.dev\/sites\/all\/themes\/arti\/styling\/scss\/style\.scss}line{font-family:\00003153}}
.region-content-bottom {
  border-top: 1px solid #bebebe;
}

/**
 * [ 3 ] DRUPAL ELEMENTS
 */
/**
 * Primary & Secondary navigation
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/quickstart\/websites\/themebox7\.dev\/sites\/all\/themes\/arti\/styling\/scss\/style\.scss}line{font-family:\00003165}}
.masthead {
  clear: both;
  padding: 1px 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/quickstart\/websites\/themebox7\.dev\/sites\/all\/themes\/arti\/styling\/scss\/_base\.scss}line{font-family:\0000316}}
.masthead:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/quickstart\/websites\/themebox7\.dev\/sites\/all\/themes\/arti\/styling\/scss\/_base\.scss}line{font-family:\0000325}}
* html .masthead {
  height: 1%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/quickstart\/websites\/themebox7\.dev\/sites\/all\/themes\/arti\/styling\/scss\/_base\.scss}line{font-family:\0000331}}
*:first-child + html .masthead {
  min-height: 1%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/quickstart\/websites\/themebox7\.dev\/sites\/all\/themes\/arti\/styling\/scss\/style\.scss}line{font-family:\00003169}}
.masthead .grid-inner {
  padding: 1px 0;
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/quickstart\/websites\/themebox7\.dev\/sites\/all\/themes\/arti\/styling\/scss\/style\.scss}line{font-family:\00003172}}
.masthead .grid-inner.secondary-menu {
  float: right;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/quickstart\/websites\/themebox7\.dev\/sites\/all\/themes\/arti\/styling\/scss\/style\.scss}line{font-family:\00003177}}
.masthead .menu,
.masthead .links {
  text-align: left;
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/quickstart\/websites\/themebox7\.dev\/sites\/all\/themes\/arti\/styling\/scss\/style\.scss}line{font-family:\00003180}}
.masthead .menu li,
.masthead .links li {
  display: inline;
  margin-right: 0.5em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/quickstart\/websites\/themebox7\.dev\/sites\/all\/themes\/arti\/styling\/scss\/style\.scss}line{font-family:\00003183}}
.masthead .menu li a,
.masthead .links li a {
  text-decoration: none;
  color: #aaa;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/quickstart\/websites\/themebox7\.dev\/sites\/all\/themes\/arti\/styling\/scss\/style\.scss}line{font-family:\00003186}}
.masthead .menu li a:hover, .masthead .menu li a:focus,
.masthead .links li a:hover,
.masthead .links li a:focus {
  color: #54beff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/quickstart\/websites\/themebox7\.dev\/sites\/all\/themes\/arti\/styling\/scss\/style\.scss}line{font-family:\00003191}}
.masthead .menu#secondary-menu,
.masthead .links#secondary-menu {
  text-align: right;
  float: right;
}

/**
 * Nodes
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/quickstart\/websites\/themebox7\.dev\/sites\/all\/themes\/arti\/styling\/scss\/style\.scss}line{font-family:\00003204}}
.node .field-type-taxonomy-term-reference .field-item a {
  margin: 0 3px 5px 0;
  text-decoration: none;
  font-size: 80%;
  padding: 4px 15px;
  background: #f3f3f3;
  color: #aaa;
  display: inline;
  border-radius: 15px;
  line-height: 2em;
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/quickstart\/websites\/themebox7\.dev\/sites\/all\/themes\/arti\/styling\/scss\/style\.scss}line{font-family:\0000329}}
.node .field-type-taxonomy-term-reference .field-item a:hover {
  background-color: #eee;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/quickstart\/websites\/themebox7\.dev\/sites\/all\/themes\/arti\/styling\/scss\/style\.scss}line{font-family:\0000332}}
.node .field-type-taxonomy-term-reference .field-item a.active {
  color: #f3f3f3;
  background: #444;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/quickstart\/websites\/themebox7\.dev\/sites\/all\/themes\/arti\/styling\/scss\/style\.scss}line{font-family:\00003209}}
.node .author {
  margin: 0 3px 5px 0;
  text-decoration: none;
  font-size: 80%;
  padding: 4px 15px;
  background: #f3f3f3;
  color: #aaa;
  display: inline;
  border-radius: 15px;
  line-height: 2em;
  float: right;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/quickstart\/websites\/themebox7\.dev\/sites\/all\/themes\/arti\/styling\/scss\/style\.scss}line{font-family:\0000329}}
.node .author:hover {
  background-color: #eee;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/quickstart\/websites\/themebox7\.dev\/sites\/all\/themes\/arti\/styling\/scss\/style\.scss}line{font-family:\0000332}}
.node .author.active {
  color: #f3f3f3;
  background: #444;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/quickstart\/websites\/themebox7\.dev\/sites\/all\/themes\/arti\/styling\/scss\/style\.scss}line{font-family:\00003213}}
.node footer .links {
  list-style: none;
  list-style-type: none;
  width: 100%;
  margin: 20px 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/quickstart\/websites\/themebox7\.dev\/sites\/all\/themes\/arti\/styling\/scss\/_base\.scss}line{font-family:\0000316}}
.node footer .links:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/quickstart\/websites\/themebox7\.dev\/sites\/all\/themes\/arti\/styling\/scss\/_base\.scss}line{font-family:\0000325}}
* html .node footer .links {
  height: 1%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/quickstart\/websites\/themebox7\.dev\/sites\/all\/themes\/arti\/styling\/scss\/_base\.scss}line{font-family:\0000331}}
*:first-child + html .node footer .links {
  min-height: 1%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/quickstart\/websites\/themebox7\.dev\/sites\/all\/themes\/arti\/styling\/scss\/style\.scss}line{font-family:\00003219}}
.node footer .links li {
  display: inline;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/quickstart\/websites\/themebox7\.dev\/sites\/all\/themes\/arti\/styling\/scss\/style\.scss}line{font-family:\00003222}}
.node footer .links a {
  margin: 0 3px 5px 0;
  text-decoration: none;
  font-size: 80%;
  padding: 4px 15px;
  background: #f3f3f3;
  color: #aaa;
  display: inline;
  border-radius: 15px;
  line-height: 2em;
  font-size: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/quickstart\/websites\/themebox7\.dev\/sites\/all\/themes\/arti\/styling\/scss\/style\.scss}line{font-family:\0000329}}
.node footer .links a:hover {
  background-color: #eee;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/quickstart\/websites\/themebox7\.dev\/sites\/all\/themes\/arti\/styling\/scss\/style\.scss}line{font-family:\0000332}}
.node footer .links a.active {
  color: #f3f3f3;
  background: #444;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/quickstart\/websites\/themebox7\.dev\/sites\/all\/themes\/arti\/styling\/scss\/style\.scss}line{font-family:\00003227}}
.node .field-label {
  clear: both;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/quickstart\/websites\/themebox7\.dev\/sites\/all\/themes\/arti\/styling\/scss\/style\.scss}line{font-family:\00003230}}
.node .content {
  width: 100%;
}

/**
 * Comments
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/quickstart\/websites\/themebox7\.dev\/sites\/all\/themes\/arti\/styling\/scss\/style\.scss}line{font-family:\00003239}}
.comment {
  font-size: 15px;
  border-top: 1px dotted #aaa;
  padding-top: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/quickstart\/websites\/themebox7\.dev\/sites\/all\/themes\/arti\/styling\/scss\/style\.scss}line{font-family:\00003243}}
.comment h3 {
  font-size: 15px;
  color: #444;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/quickstart\/websites\/themebox7\.dev\/sites\/all\/themes\/arti\/styling\/scss\/style\.scss}line{font-family:\00003246}}
.comment h3 a {
  color: #444;
  text-decoration: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/quickstart\/websites\/themebox7\.dev\/sites\/all\/themes\/arti\/styling\/scss\/style\.scss}line{font-family:\00003251}}
.comment header {
  margin: 0 3px 5px 0;
  text-decoration: none;
  font-size: 80%;
  padding: 4px 15px;
  background: #f3f3f3;
  color: #aaa;
  display: inline;
  border-radius: 15px;
  line-height: 2em;
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/quickstart\/websites\/themebox7\.dev\/sites\/all\/themes\/arti\/styling\/scss\/style\.scss}line{font-family:\0000329}}
.comment header:hover {
  background-color: #eee;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/quickstart\/websites\/themebox7\.dev\/sites\/all\/themes\/arti\/styling\/scss\/style\.scss}line{font-family:\0000332}}
.comment header.active {
  color: #f3f3f3;
  background: #444;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/quickstart\/websites\/themebox7\.dev\/sites\/all\/themes\/arti\/styling\/scss\/style\.scss}line{font-family:\00003255}}
.comment footer {
  float: right;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/quickstart\/websites\/themebox7\.dev\/sites\/all\/themes\/arti\/styling\/scss\/style\.scss}line{font-family:\00003257}}
.comment footer .links {
  list-style: none;
  list-style-type: none;
  display: inline;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/quickstart\/websites\/themebox7\.dev\/sites\/all\/themes\/arti\/styling\/scss\/style\.scss}line{font-family:\00003261}}
.comment footer .links li {
  display: inline;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/quickstart\/websites\/themebox7\.dev\/sites\/all\/themes\/arti\/styling\/scss\/style\.scss}line{font-family:\00003263}}
.comment footer .links li a {
  margin: 0 3px 5px 0;
  text-decoration: none;
  font-size: 80%;
  padding: 4px 15px;
  background: #f3f3f3;
  color: #aaa;
  display: inline;
  border-radius: 15px;
  line-height: 2em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/quickstart\/websites\/themebox7\.dev\/sites\/all\/themes\/arti\/styling\/scss\/style\.scss}line{font-family:\0000329}}
.comment footer .links li a:hover {
  background-color: #eee;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/quickstart\/websites\/themebox7\.dev\/sites\/all\/themes\/arti\/styling\/scss\/style\.scss}line{font-family:\0000332}}
.comment footer .links li a.active {
  color: #f3f3f3;
  background: #444;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/quickstart\/websites\/themebox7\.dev\/sites\/all\/themes\/arti\/styling\/scss\/style\.scss}line{font-family:\00003269}}
.comment .content {
  clear: both;
  margin-left: 0;
  margin-right: 0;
}
